@font-face {
    font-family: MyriadProCondensed;
    src: url(./fonts/MyriadProCondensed/MyriadProCondensed.ttf);
}

@font-face {
    font-family: BerlinSansFBDemiBold;
    src: url(./fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}

:root {
    --main-color: #1d1d1d;
    --second-color: #3a3a3a;
    --txt-color: #bbbbbb;
    --txt-white: #ffffff;
    --bg-black: #000;
    --txt-category: #c8bfbf;

    --header-height: 144px;
    --header-padding: 93px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--main-color);
    color: var(--txt-color);
    font-family: MyriadProCondensed, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
    display: inline-block;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}
header {
    height: var(--header-height);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--header-padding);
    z-index: 99;
    transition: height 0.3s ease 0s, background-color 0.3s ease 0s;
    height: 70px;
    background-color: var(--second-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 15px;
  }
  .dropdown >a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--txt-white);
    text-shadow: 1px 1px 1px #000;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3a3a3a;
    font-size: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content >a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--txt-white);
    text-shadow: 1px 1px 1px #000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.main-menu-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.main-menu {
    display: flex;
    pointer-events: visible;
}

.main-menu > li > a {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--txt-white);
    text-shadow: 1px 1px 1px #000;
}

.main-menu > li > a.active {
    color: var(--txt-white);
}

.main-menu > li ~ li {
    margin-left: 84px;
}

.main-menu > li > a:hover,
.user-menu > li > a:hover {
    color: var(--txt-white);
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-white);
    text-shadow: 1px 1px 1px #000;

}

.user-menu > li > a > i {
    font-size: 1.5rem;
}

.user-menu > li ~ li {
    margin-left: 20px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.container > h1{
	padding: 20px 0;
}
.cart{
	display: flex;
}
.products{
	flex: 0.75;
}
.product{
	display: flex;
	width: 100%;
	height: 220px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}
.product:hover{
	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);
}
.product > img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.product > img:hover{
	transform: scale(1.04);
}
.product-info{
	padding: 20px;
	width: 100%;
	position: relative;
}
.product-name, .product-price, .product-offer{
	margin-bottom: 20px;
}
.product .bx{
    position: absolute;
    box-sizing: border-box;
}
.product-remove{
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 10px 25px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	border-radius: 5px;
}
.product-remove:hover{
	color: rgb(0, 0, 0);
	font-weight: 600;

}
.product-quantity > input{
    margin-top: 5px;
    margin-bottom: 5px;
	width: 40px;
	padding: 5px;
	text-align: center;
}
.fa{
	margin-right: 5px;
}
.btn-wrapper {
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--second-color);
    color: var(--txt-white);
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--txt-white);
    color: var(--main-color);
}


.cart-total{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 340px;
	border: 1px solid silver;
	border-radius: 5px;
    margin-bottom: 20px;

}
.cart-total p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.cart-total a{
	display: block;
	text-align: center;
    font-size: 20px;
	height: 40px;
	line-height: 40px;
	background-color: rgb(107, 101, 100);
	color: white;
	text-decoration: none;
}
.cart-total a:hover{
	background-color: rgb(51, 49, 49);
}

.product-remove{
    color: #fff;
}
.product-quantity{
    font-size: 22px;
}


.modal-body .container-fluid .row{
    font-family: BerlinSansFBDemiBold;
    color: var(--bg-black);
}
.col-12 , btn-brand{
    padding-top: 20px;
}
.modal-body , h1{
    color: #000;
    font-family: BerlinSansFBDemiBold;
}
.modal-body2 , h1{
    color: #000;
    font-size: 25px;
    font-family: BerlinSansFBDemiBold;
    padding-left: 10px;
}


.col-lg-8{
    padding-left: 100px;
}


footer{
    padding-top: 50px;
    padding-bottom: 40px ;
    color: #ffff;
    text-align: center;
    background: linear-gradient(rgba(41, 41, 40, 0.8), rgba(50, 51, 51, 0.8));

}
.footer-top .col > h4 {
    font-family: BerlinSansFBDemiBold;
    text-align: center;
    font-size: 25px;
    color: var(--txt-color);
    text-shadow: 2px 2px 2px #000;
}
.footer-top .col > h1 {
    font-family: BerlinSansFBDemiBold;
    text-align: center;
    font-size: 25px;
    color: var(--txt-color);
    text-shadow: 2px 2px 2px #000;
}

footer .navbar-brand{
    color: #fff;
    margin-bottom: 28px;
    display: inline-block;
}

.footer-top {
    margin-bottom: 10px;
}
.footer-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}
.footer-bottom .container > h1{
    font-family: BerlinSansFBDemiBold;
    color: var(--txt-color);
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
.social-links > a{
    align-items: center;
    margin-top: 5px;
}